<form action="/new" method="post">
<label for="title">New Title:</label>
<input type="text" id="title" name="title">
<label for="description">New Description:</label>
<input type="text" id="description" name="description">
<label for="url">New URL:</label>
<input type="text" id="url" name="url">
<input type="submit">
</form>
